.container {

    border-style: solid;
    border-color: red;
    height: 400px;
    width: 40vw;
    margin: 20px;
  }

  .first
  {
    border-color: red;
    border-style: solid;
    margin: 20px;
    font-size: large;
    font-weight: bold;
    padding: 10px;
  }

  .second
  {
    border-color: red;
    border-style: solid;
    margin: 20px;
    padding: 10px;
  }

  .list-div
  {
    border-color: red;
    border-style: solid;
    height: 23%;
    width: 91%;
    margin: 20px;
    box-sizing: border-box;
  }

  .list
  {
    border-color: red;
    border-style: solid;
    height: 15%;
    width: 106%;
    margin-left: -38px;
  }
  .third
  {
    margin: 20px;
  }